{% load dockerapps %}

<table class="table table-striped sodar-card-table">
  <thead>
    {% include 'dockerapps/_dockerimage_table_header.html' %}
  </thead>
  <tbody>
    {% get_details_dockerimages project as dockerapps %}
    {% if dockerapps.count > 0 %}
      {% for dockerapp in dockerapps %}
        {% include 'dockerapps/_dockerimage_item.html' with item=dockerapp details_card_mode=True %}
      {% endfor %}
    {% else %}
        <tr>
          <td class="bg-faded font-italic text-center" colspan="9">No Docker Apps (yet)</td>
        </tr>
    {% endif %}
  </tbody>
</table>
