{% extends "projectroles/project_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'dockerapps:image-list' project=project.sodar_uuid %}">Docker App</a>
  </li>
  {% if object.pk %}
    <li class="breadcrumb-item">
      <a href="{% url 'dockerapps:image-detail' project=project.sodar_uuid image=object.sodar_uuid %}">
        {{ object.title }}
      </a>
    </li>
    <li class="breadcrumb-item active">
      Update
    </li>
  {% else %}
    <li class="breadcrumb-item active">
      Create
    </li>
  {% endif %}
{% endblock %}

{% block title %}
  {% if object.pk %}
    Updating {{ object.vendor_id }} ({{ vendor.label }})
  {% else %}
    Create new Docker App in {{ project.title }}
  {% endif %}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      {% if object.pk %}
        Update
      {% else %}
        Create
      {% endif %}
      Docker App
    </h2>
  </div>

  {% verbatim %}
  <script id="tpl-env-input-row" type="text/x-jsrender">
    <div id="env-input-row-{{:uuid}}" data-uuid="{{:uuid}}" class="row pt-2 env-input-row px-0 col-12 col-md-9 col-xl-10">
      <div class="col-3 pl-0">
        <input id="env-input-name-{{:uuid}}" type="text" class="form-control env-input env-input-name" placeholder="variable name" />
      </div>
      <div class="col-9 px-0">
        <div class="row no-gutters">
          <div class="col">
            <textarea id="env-input-value-{{:uuid}}" type="text" class="form-control env-input env-input-value" placeholder="value"></textarea>
          </div>
          <div class="col-auto pl-1">
            <button id="env-input-secret-{{:uuid}}" class="btn btn-secondary env-input-secret" data-checked="false">
              <i class="fa fa-eye" class="popup" title="mark as secret"></i>
            </button>
            <button id="env-input-erase-{{:uuid}}" class="btn btn-secondary env-input-erase">
              <i class="fa fa-eraser" class="popup" title="remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>
  {% endverbatim %}

  <script type="text/javascript">
  $(() => {
    function uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
          /[xy]/g,
          (c) => {
            const r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8)
            return v.toString(16)
          }
        )
    }

    /** Return whether we need to add a new variable row (last one not empty or no row left).
     */
    function needToAddVariableRow() {
      return (
        ($(".env-input-row").length === 0) ||
        ($("#env-input-list .env-input-name:last").val() != "")
      )
    }

    /**
     * Global marker that can block serialization until deserialization is complete.
     */
    let doSerialize = true

    /** Deserialize hidden environment variables input to form inputs.
     */
    function deserializeEnvironmentVariables() {
      doSerialize = false

      const environment = JSON.parse($("#id_env_vars").val() || "[]")
      $(environment)
        .filter((idx, elem) => elem.name)
        .each((idx, elem) => {
          addVariableRow()
          if (elem.name) {
            const row = $("#env-input-list .env-input-row:last")
            $(row).find(".env-input-name").val(elem.name)
            $(row).find(".env-input-value").val(elem.value)
            $(row).find(".env-input-secret").attr("data-checked", elem.secret ? "true" : "false")
          }
        })

      doSerialize = true
    }

    /** Synchronize form inputs to hidden environment variables input.
     */
    function serializeEnvironmentVariables() {
      if (!doSerialize) {
        return  // blocked; early exit
      }

      const envInput = $("#id_env_vars")

      const environment = $("#env-input-list .env-input-row")
        .map((idx, elem) => {
          const uuid = $(elem).attr("data-uuid")
          return {
            "name": $("#env-input-name-" + uuid).val(),
            "value": $("#env-input-value-" + uuid).val(),
            "secret": $("#env-input-secret-" + uuid).attr("data-checked") === "true",
          }
        })
        .filter((idx, elem) => elem.name)
        .toArray()

      envInput.val(JSON.stringify(environment))
    }

    /**
     * Add a new variable row and setup all necessary event handlers.
     */
    function addVariableRow() {
      const rowTpl = $.templates("#tpl-env-input-row")
      const row = $(rowTpl.render({"uuid": uuidv4()}))

      $(row).find(".env-input-name").change((event) => {
        // Add a new row.
        if (needToAddVariableRow()) {
          addVariableRow()
        }
        serializeEnvironmentVariables()
      })

      $(row).find("button.env-input-erase").click((event) => {
        event.preventDefault()
        // Remove the whole row, add fresh one if required.
        $("#env-input-row-" + $(event.target).attr("data-uuid")).remove()
        if (needToAddVariableRow()) {
          addVariableRow()
        }
        serializeEnvironmentVariables()
      })

      $(row).find("button.env-input-secret").click((event) => {
        event.preventDefault()
        // Toggle data and visual "secret" status.
        const button = $(event.target).closest("button")
        const checked = button.attr("data-checked") === "true"
        button.attr("data-checked", checked ? "false" : "true")
        button.addClass(checked ? "btn-secondary" : "btn-danger")
        button.removeClass(checked ? "btn-danger" : "btn-secondary")
        const icon = button.find("i")
        icon.removeClass(checked ? "fa-eye-slash" : "fa-eye")
        icon.addClass(checked ? "fa-eye" : "fa-eye-slash")
        serializeEnvironmentVariables()
      })

      $(row).find(".env-input").bind("keyup keydown change", (event) => {
        serializeEnvironmentVariables()
      })

      $("#env-input-list").append(row)

      serializeEnvironmentVariables()
    }

    deserializeEnvironmentVariables()
    addVariableRow()
    $(".popup").tooltip()
  })
  </script>

  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if object.pk %}
      <div class="form-group row">
        <label class="form-control-label {{ form.helper.label_class }}">UUID</label>
        <div class="{{ form.helper.field_class}}">
          <input type="text" readonly class="form-control-plaintext" value="{{ object.sodar_uuid }}">
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label {{ form.helper.label_class }}">Project</label>
        <div class="{{ form.helper.field_class}}">
          <input type="text" readonly class="form-control-plaintext" value="{{ object.project.title }}">
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label {{ form.helper.label_class }}">Created</label>
        <div class="{{ form.helper.field_class}}">
          <input type="text" readonly class="form-control-plaintext" value="{{ object.date_created }}">
        </div>
      </div>
      <div class="form-group row">
        <label class="form-control-label {{ form.helper.label_class }}">Last Update</label>
        <div class="{{ form.helper.field_class}}">
          <input type="text" readonly class="form-control-plaintext" value="{{ object.date_modified }}">
        </div>
      </div>
    {% endif %}

    {% crispy form form.helper %}

    <div class="pb-3" id="env-input">
      <div class="row no-gutters">
        <div class="col">
          <strong>Environment Variables</strong>
        </div>
      </div>
      <div class="py-1 font-italic text-muted">
        <small>
          You can use the placeholder <code>__KIOSC_URL_PREFIX__</code> for getting the path that the web
          app will be hosted below in KIOSC.
        </small>
      </div>
      <div id="env-input-list">
      </div>
    </div>

    <div class="row">
      <div class="px-0 col-12 col-md-9 col-xl-10">
        <div class="text-right mb-3">
          <div class="btn-group" role="group">
            <a role="button" class="btn btn-secondary"
              {% if object.pk %}
                href="{% url 'dockerapps:image-detail' project=project.sodar_uuid image=object.sodar_uuid %}">
              {% else %}
                href="{% url 'dockerapps:image-list' project=project.sodar_uuid %}">
              {% endif %}
              <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
              Cancel
            </a>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-check" aria-hidden="true"></i>
              {% if object.pk %}
                Update
              {% else %}
                Create
              {% endif %}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
