{% load dockerapps %}

<tr>
  <td style="width: 0px;" class="text-right text-muted">
    {{ forloop.counter }}
  </td>
  <td class="text-left">
    <a href="{% url 'dockerapps:dockerapp-detail' project=project.sodar_uuid dockerapp=item.sodar_uuid %}">
      {{ item.title }}
    </a>
  </td>
  <td class="text-left">
    {{ item.image_id }}
  </td>
  <td class="text-right">
    {{ item.internal_port|default:"-" }}
  </td>
  <td class="text-right">
    {{ item.host_port|default:"-" }}
  </td>
  <td class="text-left">
    {{ item.description|default:"-" }}
  </td>
  <td class="text-center">
    {{ item.state|default:"-" }}
  </td>

  <td>
    {% include "dockerapps/_dockerapp_item_buttons.html" %}
  </td>
</tr>
