{% extends "projectroles/project_base.html" %}

{% load dockerapps %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'dockerapps:dockerapp-list' project=project.sodar_uuid %}">Docker Apps</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'dockerapps:dockerapp-detail' project=project.sodar_uuid dockerapp=object.sodar_uuid %}">{{ object.title }}</a>
  </li>
  <li class="breadcrumb-item active">
    Run
  </li>
{% endblock %}

{% block projectroles %}
  <div id="ajax-form-errors"></div>

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Running Docker App &quot;{{ object.title }}&quot;
    </h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <iframe
          style="height: 800px; width: 100%;"
          src="{% url 'dockerapps:dockerapp-proxy' project=project.sodar_uuid dockerapp=object.sodar_uuid path='' %}"></iframe>
      </div>
    </div>
  </div>

{% endblock %}
