{% load rules %}
{% load static %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{% get_django_setting 'KIOSK_NETWORK_MODE' as network_mode %}
{% has_perm 'containers.view_container' request.user project as can_view_container %}

<table class="table sodar-card-table" id="kiosc-container-details-table">
  <thead>
    <tr>
      <th>Container</th>
      <th>Port</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for container in project.containers.all %}
      <tr>
        <td class="pl-4">
          <a href="{% url 'containers:detail' container=container.sodar_uuid %}">{{ container.get_display_name }}</a>
        </td>
        <td>
          {{ container.container_port }}{% if network_mode == "host" %}:{{ container.host_port }}{% endif %}
        </td>
        <td>{{ container.state }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>