{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load projectroles_common_tags %}
{% load container_tags %}
{% load crispy_forms_filters %}

{% block title %}
  Container {{ object.sodar_uuid }}
{% endblock title %}

{% block projectroles_extend %}

{% has_perm "containers.view_logs" request.user project as can_view_logs %}
{% has_perm "containers.create_container" request.user project as can_create_container %}
{% has_perm "containers.edit_container" request.user project as can_edit_container %}
{% has_perm "containers.delete_container" request.user project as can_delete_container %}
{% has_perm "containers.start_container" request.user project as can_start_container %}
{% has_perm "containers.stop_container" request.user project as can_stop_container %}
{% has_perm "containers.pause_container" request.user project as can_pause_container %}
{% has_perm "containers.unpause_container" request.user project as can_unpause_container %}
{% get_django_setting "KIOSC_NETWORK_MODE" as network_mode %}

<div class="row sodar-subtitle-container">
  <h3>Container <small class="text-muted">{{ object.title }}</small></h3>
  <div class="ml-auto">
    <div class="btn-group">
      <a id="id_proxy_running" {% if not container.state == "running" %}style="display: none;" {% endif %}href="{% url 'containers:proxy' container=container.sodar_uuid path=container.path %}"
          class="btn btn-primary" target="_blank"
          data-toggle="tooltip" data-placement="top" title="Open app">
        <i class="iconify" data-icon="mdi:eye"></i>
        View
      </a>
      <a id="id_proxy_not_running" {% if container.state == "running" %}style="display: none;" {% endif %}href="{% url 'containers:proxy-lobby' container=container.sodar_uuid path=container.path %}"
          class="btn btn-outline-secondary" target="_blank"
          data-toggle="tooltip" data-placement="top" title="App not running">
        <i class="iconify" data-icon="mdi:eye-off"></i>
        View
      </a>
      {% if can_start_container or can_stop_container or can_pause_container or can_unpause_container or can_edit_container or can_delete_container %}
        <button class="btn btn-secondary dropdown-toggle"
                type="button" data-toggle="dropdown" aria-expanded="false">
          <i class="iconify" data-icon="mdi:cog"></i>
          Controls
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <div id="id_menu_running" {% if not container.state == "running" %}style="display: none;"{% endif %}>
            {% if can_start_container %}
              <a class="dropdown-item"
                 href="{% url 'containers:stop' container=container.sodar_uuid %}">
                <i class="iconify" data-icon="mdi:stop"></i> Stop
              </a>
            {% endif %}
            {% if can_pause_container %}
              <a class="dropdown-item"
                 href="{% url 'containers:pause' container=container.sodar_uuid %}">
                <i class="iconify" data-icon="mdi:pause"></i> Pause
              </a>
            {% endif %}
            {% if can_start_container %}
              <a class="dropdown-item"
                 href="{% url 'containers:restart' container=container.sodar_uuid %}">
                <i class="iconify" data-icon="mdi:restart"></i> Restart
              </a>
            {% endif %}
          </div>
          <div id="id_menu_paused" {% if not container.state == "paused" %}style="display: none;"{% endif %}>
            {% if can_stop_container %}
              <a class="dropdown-item"
                 href="{% url 'containers:stop' container=container.sodar_uuid %}">
                <i class="iconify" data-icon="mdi:stop"></i> Stop
              </a>
            {% endif %}
            {% if can_unpause_container %}
              <a class="dropdown-item"
                 href="{% url 'containers:unpause' container=container.sodar_uuid %}">
                <i class="iconify" data-icon="mdi:play"></i> Unpause
              </a>
            {% endif %}
          </div>
          <div id="id_menu_not_running" {% if container.state == "running" or container.state == "paused" %}style="display: none;"{% endif %}>
            {% if can_start_container %}
              <a class="dropdown-item"
                 href="{% url 'containers:start' container=container.sodar_uuid %}">
                <i class="iconify" data-icon="mdi:play"></i> Start
              </a>
            {% endif %}
          </div>
          {% if can_edit_container %}
            <a class="dropdown-item"
               href="{% url 'containers:update' container=container.sodar_uuid %}">
              <i class="iconify" data-icon="mdi:lead-pencil"></i> Update
            </a>
          {% endif %}
          {% if can_delete_container %}
            <a class="dropdown-item text-danger"
               href="{% url 'containers:delete' container=container.sodar_uuid %}">
              <i class="iconify" data-icon="mdi:close-thick"></i> Delete
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <a role="button" class="btn btn-secondary"
      href="{% url "containers:list" project=object.project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Container List
    </a>
  </div>
</div>

{% with last_job=object.containerbackgroundjob.last date_last_docker_log=object.log_entries.get_date_last_docker_log %}
<div class="container-fluid sodar-page-container">
  <div class="card">
    <div class="card-header"><h4>Description</h4></div>
    <div class="card-body">
      <p class="card-text mb-3">
        {{ object.description|default:"<em class='text-muted'>No description.</em>" }}
      </p>
    </div>
  </div>
  <div class="card" id="id_details" data-url="{% url "containers:ajax-get-dynamic-details" container=object.sodar_uuid %}">
    <div class="card-header"><h4>Details</h4></div>
    <div class="card-body">
      <p class="card-text">
        <dl class="row">
          <dt class="col-sm-3">SODAR UUID</dt>
          <dd class="col-sm-9">{{ object.sodar_uuid }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Created</dt>
          <dd class="col-sm-9">{{ object.get_date_created }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Modified</dt>
          <dd class="col-sm-9">{{ object.get_date_modified }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Image ID</dt>
          <dd class="col-sm-9">
            {{ object.image_id|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container ID</dt>
          <dd class="col-sm-9" id="id_container_id">
            {{ object.container_id|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Repository:Tag</dt>
          <dd class="col-sm-9">{{ object.get_repos_full }}</dd>
        </dl>
        {% if network_mode == "host" %}
          <dl class="row">
            <dt class="col-sm-3">Host Port</dt>
            <dd class="col-sm-9">{{ object.host_port }}</dd>
          </dl>
        {% endif %}
        <dl class="row">
          <dt class="col-sm-3">Container IP</dt>
          <dd class="col-sm-9" id="id_container_ip">
            {{ object.container_ip|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container Port</dt>
          <dd class="col-sm-9">
            {{ object.container_port|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container Path</dt>
          <dd class="col-sm-9">
            {{ object.container_path|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Heartbeat URL</dt>
          <dd class="col-sm-9">
            {{ object.heartbeat_url|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Timeout [s]</dt>
          <dd class="col-sm-9">
            {{ object.timeout|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Command</dt>
          <dd class="col-sm-9">
            {% if object.command %}
              <code>{{ object.command }}</code>
            {% else %}
              <em class='text-muted'>no value</em>
            {% endif %}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Environment</dt>
          <dd class="col-sm-9">
            {% if object.get_environment_masked %}
              <pre>{{ object.get_environment_masked|pretty_json }}</pre>
            {% else %}
              <em class="text-muted">no value</em>
            {% endif %}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Environment Secret Keys</dt>
          <dd class="col-sm-9">
            {{ object.environment_secret_keys|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Max Retries</dt>
          <dd class="col-sm-9">
            {{ object.max_retries|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Inactivity Threshold [days]</dt>
          <dd class="col-sm-9">
            {{ object.inactivity_threshold|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        {% if object.containertemplatesite %}
        <dl class="row">
          <dt class="col-sm-3">Link to site-wide template</dt>
          <dd class="col-sm-9">
            <a href="{{ object.containertemplatesite.get_absolute_url }}">
              {{ object.containertemplatesite }}
            </a>
          </dd>
        </dl>
        {% elif object.containertemplateproject %}
        <dl class="row">
          <dt class="col-sm-3">Link to project-wide template</dt>
          <dd class="col-sm-9">
            <a href="{{ object.containertemplateproject.get_absolute_url }}">
              {{ object.containertemplateproject }}
            </a>
          </dd>
        </dl>
        {% endif %}
        <dl class="row">
          <dt class="col-sm-3">State</dt>
          <dd class="col-sm-9">
            <strong class="{{ container.state|colorize_state }}" id="id_state">{{ container.state }}</strong>
            {% state_bell container.state last_job.action as state_bell_text %}
            <i id="id_state_bell" class="iconify" {% if not state_bell_text %}style="display: none;"{% endif %} data-icon="mdi:bell" data-toggle="tooltip" title="{{ state_bell_text }}"></i>
          </dd>
        </dl>
        {% if last_job.action %}
        <dl class="row">
          <dt class="col-sm-3">Last action</dt>
          <dd class="col-sm-9">{{ last_job.action }} (<span id="id_retries">{{ last_job.retries }}</span>/{{ object.max_retries }})</dd>
        </dl>
        {% endif %}
        {% if date_last_docker_log %}
        <dl class="row">
          <dt class="col-sm-3">Date of latest Docker log</dt>
          <dd class="col-sm-9" id="id_date_last_docker_log">{{ date_last_docker_log }}</dd>
        </dl>
        {% endif %}
      </p>
    </div>
  </div>
  {% if can_view_logs %}
  <div class="card">
    <div class="card-header"><h4>Logs</h4></div>
    <div class="card-body">
      <pre id="id_logs" class="p-2 text-light overflow-auto bg-dark border border-dark rounded-lg" style="height: 400px">{{ logs }}</pre>
    </div>
  </div>
  {% endif %}
</div>
{% endwith %}

{% endblock projectroles_extend %}

{% block javascript %}
    {{ block.super }}
    <script>
    $(document).ready(function () {
        scrollLogs();
        setInterval(getDynamicDetails, 30000);
    });

    function scrollLogs() {
        var logs = $("#id_logs");
        logs.animate({scrollTop: logs.prop("scrollHeight")}, 2000);
    }

    function getDynamicDetails() {
        var url = $("#id_details").data("url");

        $.ajax({
            url: url,
            success: function(data) {
                $.each(data, function(key, value) {
                    let element = $("#id_" + key);

                    if (key === "state") {
                        element.text(value);
                        element.removeClass();
                        element.addClass(data["state_color"]);

                        var proxy_not_running = $("#id_proxy_not_running");
                        var proxy_running = $("#id_proxy_running");
                        var menu_not_running = $("#id_menu_not_running");
                        var menu_paused = $("#id_menu_paused");
                        var menu_running = $("#id_menu_running");

                        proxy_not_running.hide();
                        proxy_running.hide();
                        menu_not_running.hide();
                        menu_paused.hide();
                        menu_running.hide();

                        if (value === "running") {
                            menu_running.show();
                            proxy_running.show();
                        }

                        else if (value === "paused") {
                            menu_paused.show();
                            proxy_not_running.show();
                        }

                        else {
                            menu_not_running.show();
                            proxy_not_running.show();
                        }
                    }

                    else if (key === "state_color") {
                        return 0;
                    }

                    else if (key === "state_bell") {
                        if (value !== "") {
                            element.show();
                            element.setAttribute("title", value);
                        }

                        else {
                            element.hide();
                        }
                    }

                    else {
                        if (value === "") {
                            element.text("no value");
                            element.addClass("text-muted font-italic");
                        }

                        else {
                            element.text(value);
                            element.removeClass("text-muted font-italic");
                        }
                    }
                });

                scrollLogs();
            }
        });
    }
    </script>
{% endblock javascript %}