{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load projectroles_common_tags %}
{% load container_tags %}
{% load crispy_forms_filters %}

{% block title %}
  Container {{ object.sodar_uuid }}
{% endblock title %}

{% block projectroles_extend %}

{% has_perm "containers.view_logs" request.user object.project as can_view_logs %}
{% get_django_setting "KIOSC_NETWORK_MODE" as network_mode %}
{% get_django_setting "KIOSC_CONTAINER_DEFAULT_LOG_LINES" as default_log_lines %}

<div class="row sodar-subtitle-container">
  <h3>Container <small class="text-muted">{{ object.title }}</small></h3>
  <div class="ml-auto">
    {% container_controls object request.user display=True %}
    <a role="button" class="btn btn-secondary"
      href="{% url "containers:list" project=object.project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Container List
    </a>
  </div>
</div>

{% with last_job=object.containerbackgroundjob.last date_last_docker_log=object.log_entries.get_date_last_docker_log %}
<div class="container-fluid sodar-page-container">
  <div class="card">
    <div class="card-header"><h4>Description</h4></div>
    <div class="card-body">
      <p class="card-text mb-3">
        {{ object.description|default:"<em class='text-muted'>No description.</em>" }}
      </p>
    </div>
  </div>
  {% if can_view_logs %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-9">
          <h4 class="float-left">
            Logs
          </h4>
        </div>
        <div class="col-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Log lines</span>
            </div>
            <input type="number" class="form-control" id="id_log_lines" value="{{ default_log_lines }}" />
            <div class="input-group-append">
              <button type="button" class="btn btn-info" onclick="setLogLinesCookie()">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <pre id="id_logs" class="p-2 text-light overflow-auto bg-dark border border-dark rounded-lg" style="height: 400px; font-size: 87.5%;"><i class="iconify" data-icon="eos-icons:bubble-loading"></i> <em>Loading logs ...</em></pre>
    </div>
  </div>
  {% endif %}
  <div class="card" id="id_details" data-url="{% url "containers:ajax-get-dynamic-details" container=object.sodar_uuid %}">
    <div class="card-header"><h4>Details</h4></div>
    <div class="card-body">
      <p class="card-text">
        <dl class="row">
          <dt class="col-sm-3">SODAR UUID</dt>
          <dd class="col-sm-9">{{ object.sodar_uuid }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Created</dt>
          <dd class="col-sm-9">{{ object.get_date_created }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Modified</dt>
          <dd class="col-sm-9">{{ object.get_date_modified }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Image ID</dt>
          <dd class="col-sm-9">
            {{ object.image_id|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container ID</dt>
          <dd class="col-sm-9" id="id_container_id">
            {{ object.container_id|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Repository:Tag</dt>
          <dd class="col-sm-9">{{ object.get_repos_full }}</dd>
        </dl>
        {% if network_mode == "host" %}
          <dl class="row">
            <dt class="col-sm-3">Host Port</dt>
            <dd class="col-sm-9">{{ object.host_port }}</dd>
          </dl>
        {% endif %}
        <dl class="row">
          <dt class="col-sm-3">Container IP</dt>
          <dd class="col-sm-9" id="id_container_ip">
            {{ object.container_ip|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container Port</dt>
          <dd class="col-sm-9">
            {{ object.container_port|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container Path</dt>
          <dd class="col-sm-9">
            {{ object.container_path|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Heartbeat URL</dt>
          <dd class="col-sm-9">
            {{ object.heartbeat_url|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Timeout [s]</dt>
          <dd class="col-sm-9">
            {{ object.timeout|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Command</dt>
          <dd class="col-sm-9">
            {% if object.command %}
              <code>{{ object.command }}</code>
            {% else %}
              <em class='text-muted'>no value</em>
            {% endif %}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Environment</dt>
          <dd class="col-sm-9">
            {% if object.get_environment_masked %}
              <pre>{{ object.get_environment_masked|pretty_json }}</pre>
            {% else %}
              <em class="text-muted">no value</em>
            {% endif %}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Environment Secret Keys</dt>
          <dd class="col-sm-9">
            {{ object.environment_secret_keys|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Max Retries</dt>
          <dd class="col-sm-9">
            {{ object.max_retries|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Inactivity Threshold [days]</dt>
          <dd class="col-sm-9">
            {{ object.inactivity_threshold|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        {% if object.containertemplatesite %}
        <dl class="row">
          <dt class="col-sm-3">Link to site-wide template</dt>
          <dd class="col-sm-9">
            <a href="{{ object.containertemplatesite.get_absolute_url }}">
              {{ object.containertemplatesite }}
            </a>
          </dd>
        </dl>
        {% elif object.containertemplateproject %}
        <dl class="row">
          <dt class="col-sm-3">Link to project-wide template</dt>
          <dd class="col-sm-9">
            <a href="{{ object.containertemplateproject.get_absolute_url }}">
              {{ object.containertemplateproject }}
            </a>
          </dd>
        </dl>
        {% endif %}
        <dl class="row">
          <dt class="col-sm-3">State</dt>
          <dd class="col-sm-9">
            <strong class="{{ container.state|colorize_state }}" id="id_state">{{ container.state }}</strong>
            {% state_bell container.state last_job.action as state_bell_text %}
            <i id="id_state_bell" class="iconify" {% if not state_bell_text %}style="display: none;"{% endif %} data-icon="mdi:bell" data-toggle="tooltip" title="{{ state_bell_text }}"></i>
          </dd>
        </dl>
        {% if last_job.action %}
        <dl class="row">
          <dt class="col-sm-3">Last action</dt>
          <dd class="col-sm-9">{{ last_job.action }} (<span id="id_retries">{{ last_job.retries }}</span>/{{ object.max_retries }})</dd>
        </dl>
        {% endif %}
        {% if date_last_docker_log %}
        <dl class="row">
          <dt class="col-sm-3">Date of latest Docker log</dt>
          <dd class="col-sm-9" id="id_date_last_docker_log">{{ date_last_docker_log }}</dd>
        </dl>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endwith %}

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}
  <script>
    var logWatcherSocket = createWebSocket();
    const logsElement = document.querySelector("#id_logs");
    const logLinesInput = document.querySelector("#id_log_lines");
    function createWebSocket() {
      const socket = new WebSocket(
        `ws://` +
        `${window.location.host}/` +
        `{% url "log-watcher" container=object.sodar_uuid %}`
      );
      socket.addEventListener("open", (event) => {
        logsElement.innerText = "Waiting for logs...";
        socket.send(logLinesInput.value);
      });
      socket.addEventListener("message", (event) => {
        logsElement.append(event.data);
        let scrollBuffer = logsElement.getBoundingClientRect()["height"] + 100;
        if (logsElement.scrollHeight - logsElement.scrollTop < scrollBuffer) {
          logsElement.scrollTop = logsElement.scrollHeight;
        }
      });
      socket.addEventListener("close", (event) => {
        if (event.code <= 1000) {
          logsElement.innerText = `Failed to fetch logs.`;
        }
        console.error(event);
      });
      return socket;
    }
    function setLogLinesCookie(event) {
      logWatcherSocket.close();
      logWatcherSocket = createWebSocket();
    }
    $(document).ready(function () {
        getDynamicDetails();
        setInterval(getDynamicDetails, 30000);
    });

    function getDynamicDetails() {
        var url = $("#id_details").data("url") + "?log_lines=" + getCookie("log_lines");

        $.ajax({
            url: url,
            success: function(data) {
                $.each(data, function(key, value) {
                    let element = $("#id_" + key);

                    if (key === "logs") {
                        return;
                    }

                    if (key === "state") {
                        element.text(value);
                        element.removeClass();
                        element.addClass(data["state_color"]);

                        var proxy_not_running = $("#id_proxy_not_running");
                        var proxy_running = $("#id_proxy_running");
                        var menu_not_running = $("#id_menu_not_running");
                        var menu_paused = $("#id_menu_paused");
                        var menu_running = $("#id_menu_running");

                        proxy_not_running.hide();
                        proxy_running.hide();
                        menu_not_running.hide();
                        menu_paused.hide();
                        menu_running.hide();

                        if (value === "running") {
                            menu_running.show();
                            proxy_running.show();
                        }

                        else if (value === "paused") {
                            menu_paused.show();
                            proxy_not_running.show();
                        }

                        else {
                            menu_not_running.show();
                            proxy_not_running.show();
                        }
                    }

                    else if (key === "state_color") {
                        return 0;
                    }

                    else if (key === "state_bell") {
                        if (value !== "") {
                            element.show();
                            element.setAttribute("title", value);
                        }

                        else {
                            element.hide();
                        }
                    }

                    else {
                        if (value === "") {
                            element.text("no value");
                            element.addClass("text-muted font-italic");
                        }

                        else {
                            element.text(value);
                            element.removeClass("text-muted font-italic");
                        }
                    }
                });
            }
        });
    }
  </script>
{% endblock javascript %}
