{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load static %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}
{% load container_tags %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block title %}
  {% if object.pk %}Update{% else %}Create{% endif %} Container
{% endblock title %}

{% block projectroles_extend %}

{% get_django_setting 'KIOSC_EMBEDDED_FILES' as filesfolders_active %}

<div class="container-fluid sodar-subtitle-container">
  <h3>{% if object.pk %}Update{% else %}Create{% endif %} Docker container</h3>
</div>

<div class="container-fluid sodar-page-container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Container Template</span>
    </div>
    {{ containertemplate_form.source }}
  </div>
  <form id="kiosc-container-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {# Non-field errors #}
    {{ form.non_field_errors }}
    {# Invisible fields #}
    {{ form.project }}
    {{ form.containertemplatesite }}
    {{ form.containertemplateproject }}
    {# Fields #}
    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.repository|as_crispy_field }}
    {{ form.tag|as_crispy_field }}
    <details class="mb-3">
      <summary>Do you need authentication to pull the image? (Click to expand)</summary>
      <div class="pl-4 mt-3">
        {{ form.registry_user|as_crispy_field }}
        {{ form.registry_password|as_crispy_field }}
      </div>
    </details>
    {{ form.container_port|as_crispy_field }}
    {{ form.container_path|as_crispy_field }}
    {{ form.heartbeat_url|as_crispy_field }}
    {{ form.host_port|as_crispy_field }}
    {{ form.environment|as_crispy_field }}
    {{ form.environment_secret_keys|as_crispy_field }}
    <fieldset>
      <label>Remote mount points</label>
      {{ remote_mounts_formset.management_form }}
      {% for mount_form in remote_mounts_formset %}
        {% if remote_mounts_formset.can_delete and mount_form.DELETE %}
        <div class="kiosc-remote-mount-form mb-3 p-3 border rounded d-flex flex-wrap align-items-center justify-content-between">
        {% else %}
        <div class="kiosc-remote-mount-form d-none">
        {% endif %}
          {{ mount_form.id }}
          {{ mount_form.volume_name }}
          {% if remote_mounts_formset.can_delete and mount_form.DELETE %}
            {{ mount_form.source|as_readonly|as_crispy_field }}
            {{ mount_form.dest|as_readonly|as_crispy_field }}
            {{ mount_form.date_last_update|as_crispy_field }}
            {{ mount_form.dirty|as_crispy_field }}
            <div class="form-group">
              {{ mount_form.DELETE }}
              <label class="form-check-label">Delete</label>
              <div class="form-check">
                <small class="form-text text-muted">Whether this volume should be deleted.</small>
              </div>
            </div>
          {% else %}
            {{ mount_form.source|as_crispy_field }}
            {{ mount_form.dest|as_crispy_field }}
            {{ mount_form.date_last_update.as_hidden }}
            {{ mount_form.dirty.as_hidden }}
            <div class="kiosc-dismiss-remote-mount-btn btn btn-primary mb-3">Dismiss this mount</div>
          {% endif %}
        </div>
      {% endfor %}
      <div id="kiosc-add-remote-mount-btn" class="btn btn-primary mb-3">Add a remote mount</div>
    </fieldset>
    {{ form.timeout|as_crispy_field }}
    {{ form.max_retries|as_crispy_field }}
    {{ form.inactivity_threshold|as_crispy_field }}
    {% if filesfolders_active %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Files</span>
        </div>
        {{ files_form.file_url }}
        <div class="input-group-append">
          <button
              id="file_url_insert"
              type="button"
              class="btn btn-primary"
              onclick="insertFileUrl()"
          >
            <i class="iconify" data-icon="mdi:file"></i> Insert
          </button>
        </div>
      </div>
    {% endif %}
    {{ form.command|as_crispy_field }}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
           href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-primary" id="kiosc-container-btn-submit">
          <i class="iconify" data-icon="mdi:check-thick"></i> {% if object.pk %}Update{% else %}Create{% endif %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  {# Martor dependencies #}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>

  {# Custom script #}
  <script>

  document.getElementById('containertemplate_source').addEventListener('change', (e) => {
    const selection = e.target.selectedOptions[0];
    const values = selection.value.split(":");
    getTemplate(...values);
  });

  function getTemplate(site_or_project, containertemplate_id) {
      $.ajax({
          url: '{% url "containertemplates:ajax-get-containertemplate" %}',
          type: 'POST',
          dataType: 'json',
          data: {
              csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
              containertemplate_id: containertemplate_id,
              site_or_project: site_or_project
          },
          success: function(data) {
              $.each(data, function(key, value) {
                  if (key === 'id') {
                      $('#id_containertemplate' + site_or_project).val(value);
                  }
                  else if (key === 'environment') {
                      $('#id_' + key).val(JSON.stringify(value));
                  }
                  else {
                      $('#id_' + key).val(value);
                  }
              });
          },
          fail: function(e) {
              console.error(`Failed to fetch template (${site_or_project}, ${containertemplate_id}).`);
          }
      });
  }

  document.getElementById('kiosc-container-form').addEventListener('click', (e) => {
    if (e.target.id === 'kiosc-add-remote-mount-btn') {
      nextForm = document.querySelector('.kiosc-remote-mount-form.d-none');
      if (nextForm) {
        nextForm.className = "kiosc-remote-mount-form mb-3 p-3 border rounded d-flex flex-wrap align-items-center justify-content-between";
      } else {
        alert("You have reached the maximum number of remote mounts.");
      }
    } else if (e.target.classList.contains('kiosc-dismiss-remote-mount-btn')) {
      parentForm = e.target.closest('.kiosc-remote-mount-form');
      parentForm.className = "kiosc-remote-mount-form d-none";
      for (let field of parentForm.querySelectorAll('input.form-control')) {
        field.value = "";
      }
    }
  });

  function insertFileUrl() {
      let value = $('#id_file_url').val();
      let insert_into = $('#id_command');

      var cursor_pos = insert_into.prop('selectionStart');
      var v = insert_into.val();
      var text_before = v.substring(0, cursor_pos);
      var text_after  = v.substring(cursor_pos, v.length);

      insert_into.val(text_before + value + text_after);
  }
  </script>
{% endblock javascript %}
