{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}

{% block title %}
  {% if object.pk %}Update{% else %}Create{% endif %} Container
{% endblock title %}

{% block projectroles_extend %}

{% get_django_setting 'KIOSC_EMBEDDED_FILES' as filesfolders_active %}

<div class="container-fluid sodar-subtitle-container">
  <h3>{% if object.pk %}Update{% else %}Create{% endif %} Docker container</h3>
</div>

<div class="container-fluid sodar-page-container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Container Template</span>
    </div>
    {{ containertemplate_form.source }}
    <div class="input-group-append">
      <button
          id="containertemplate_submit"
          type="submit"
          class="btn btn-primary"
          onclick="getTemplate()"
          data-url="{% url 'containertemplates:ajax-get-containertemplate' %}">
        <i class="iconify" data-icon="mdi:download"></i> Get
      </button>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {# Non-field errors #}
    {{ form.non_field_errors }}
    {# Invisible fields #}
    {{ form.project }}
    {{ form.containertemplatesite }}
    {{ form.containertemplateproject }}
    {# Fields #}
    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.repository|as_crispy_field }}
    {{ form.tag|as_crispy_field }}
    {{ form.container_port|as_crispy_field }}
    {{ form.container_path|as_crispy_field }}
    {{ form.heartbeat_url|as_crispy_field }}
    {{ form.host_port|as_crispy_field }}
    {{ form.timeout|as_crispy_field }}
    {{ form.environment|as_crispy_field }}
    {{ form.environment_secret_keys|as_crispy_field }}
    {{ form.max_retries|as_crispy_field }}
    {{ form.inactivity_threshold|as_crispy_field }}
    {% if filesfolders_active %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Files</span>
        </div>
        {{ files_form.file_url }}
        <div class="input-group-append">
          <button
              id="file_url_insert"
              type="button"
              class="btn btn-primary"
              onclick="insertFileUrl()"
          >
            <i class="iconify" data-icon="mdi:file"></i> Insert
          </button>
        </div>
      </div>
    {% endif %}
    {{ form.command|as_crispy_field }}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
           href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-primary" id="kiosc-container-btn-submit">
          <i class="iconify" data-icon="mdi:check-thick"></i> {% if object.pk %}Update{% else %}Create{% endif %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}
  <script>
  function getTemplate() {
      var btn = $("#containertemplate_submit")
      var src = $("#containertemplate_source")
      var values = src.val().split(":")
      var site_or_project = values[0]
      var containertemplate_id = values[1]

      $.ajax({
          url: btn.data("url"),
          type: 'POST',
          dataType: 'json',
          data: {
              csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
              containertemplate_id: containertemplate_id,
              site_or_project: site_or_project
          },
          success: function(data) {
              $.each(data, function(key, value) {
                  if (key === "id") {
                      $("#id_containertemplate" + site_or_project).val(value);
                  }
                  else if (key === "environment") {
                      $("#id_" + key).val(JSON.stringify(value));
                  }
                  else {
                      $("#id_" + key).val(value);
                  }
              })
          }
      });
  }

  function insertFileUrl() {
      let value = $("#id_file_url").val();
      let insert_into = $("#id_command");

      var cursor_pos = insert_into.prop('selectionStart');
      var v = insert_into.val();
      var text_before = v.substring(0, cursor_pos);
      var text_after  = v.substring(cursor_pos, v.length);

      insert_into.val(text_before + value + text_after);
  }
  </script>
{% endblock javascript %}