name: Build
on: push
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: kiosc
          POSTGRES_USER: kiosc
          POSTGRES_PASSWORD: kiosc
        options: >-
          --health-cmd "pg_isready -U kiosc"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
        ports:
          - 5432:5432
    env:
      POSTGRES_HOST: 0.0.0.0
      POSTGRES_PORT: 5432
      DATABASE_URL: 'postgres://kiosc:kiosc@0.0.0.0/kiosc'
    steps:
      - name: Install server dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qq build-essential zlib1g-dev libtiff5-dev libjpeg8-dev libfreetype6-dev
          sudo apt-get install -qq liblcms2-dev libwebp-dev libpq-dev graphviz-dev
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install project Python dependencies
        run: |
          pip install -r requirements/local.txt
          pip install -r requirements/test.txt
      - name: Download icons
        run: python manage.py geticons
      - name: Run collectstatic
        run: python manage.py collectstatic --noinput
      - name: Run tests
        run: |
          coverage run --rcfile=.coveragerc manage.py test -v 2 --settings=config.settings.test
          coverage lcov
          coverage report
      - name: Check linting
        run: flake8 .
      - name: Check formatting
        run: make black arg=--check
      - name: Check docs building
        working-directory: ./docs
        run: make html
        if: ${{ matrix.python-version == '3.13' }}
      - name: Report coverage with Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage.lcov'
          fail-on-error: false
        if: ${{ matrix.python-version == '3.13' }}
