{% load rules %}
{% load static %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}


<table class="table sodar-card-table" id="kiosc-containertemplates-details-table">
  <thead>
    <tr>
      <th>Container Template</th>
    </tr>
  </thead>
  <tbody>
    {% for containertemplate in project.containertemplates.all %}
      <tr>
        <td class="pl-4">
          <a href="{% url 'containertemplates:project-detail' containertemplateproject=containertemplate.sodar_uuid %}">{{ containertemplate }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>