{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}

{% block title %}
  Project-wide Container Template - {{ object.title }}
{% endblock title %}

{% block projectroles_extend %}

<div class="row sodar-subtitle-container">
  <h3>Container Template <small class="text-muted">{{ object.title }}</small></h3>
  <div class="ml-auto">
    <a role="button" class="btn btn-secondary"
      href="{% url "containertemplates:project-list" project=project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Container Template List
    </a>
  </div>
</div>

<div class="container-fluid sodar-page-container">
  <div class="card">
    <div class="card-header"><h4>Description</h4></div>
    <div class="card-body">
      <p class="card-text mb-3">
        {{ object.description|default:"<em class='text-muted'>No description.</em>" }}
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><h4>Details</h4></div>
    <div class="card-body">
      <p class="card-text">
        <dl class="row">
          <dt class="col-sm-3">SODAR UUID</dt>
          <dd class="col-sm-9">{{ object.sodar_uuid }}</dd>
        </dl>
        {% if object.containertemplatesite %}
        <dl class="row">
          <dt class="col-sm-3">Link to site-wide template</dt>
          <dd class="col-sm-9">
            <a href="{{ object.containertemplatesite.get_absolute_url }}">
              {{ object.containertemplatesite }}
            </a>
          </dd>
        </dl>
        {% endif %}
        <dl class="row">
          <dt class="col-sm-3">Date Created</dt>
          <dd class="col-sm-9">{{ object.get_date_created }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Modified</dt>
          <dd class="col-sm-9">{{ object.get_date_modified }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Repository:Tag</dt>
          <dd class="col-sm-9">{{ object.get_repos_full }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container Port</dt>
          <dd class="col-sm-9">
            {{ object.container_port|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Container Path</dt>
          <dd class="col-sm-9">
            {{ object.container_path|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Heartbeat URL</dt>
          <dd class="col-sm-9">
            {{ object.heartbeat_url|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Timeout [s]</dt>
          <dd class="col-sm-9">
            {{ object.timeout|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Environment</dt>
          <dd class="col-sm-9">
            {{ object.environment|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Max Retries</dt>
          <dd class="col-sm-9">
            {{ object.max_retries|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Inactivity Threshold [days]</dt>
          <dd class="col-sm-9">
            {{ object.inactivity_threshold|default:"<em class='text-muted'>no value</em>" }}
          </dd>
        </dl>
      </p>
    </div>
  </div>
</div>

{% endblock projectroles_extend %}
