{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% load rules %}

{% block title %}
  Container Templates for {{ project.sodar_uuid }}
{% endblock title %}

{% block projectroles_extend %}

<div class="row sodar-subtitle-container">
  <h3>Container <small class="text-muted">{{ object.sodar_uuid }}</small></h3>
  <div class="ml-auto">
    <a role="button" class="btn btn-secondary"
      href="{% url "containertemplates:project-list" project=project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Container Template List
    </a>
  </div>
</div>

<div class="container-fluid sodar-page-container">
  <form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Site-wide Container Template</span>
      </div>
      {{ site_to_project_copy_form.site_or_project }}
      {{ site_to_project_copy_form.source }}
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="iconify" data-icon="octicon:duplicate-16"></i> Copy site-wide
        </button>
      </div>
    </div>
  </form>
  <form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Project-wide Container Template</span>
      </div>
      {{ project_to_project_copy_form.site_or_project }}
      {{ project_to_project_copy_form.source }}
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="iconify" data-icon="octicon:duplicate-16"></i> Copy project-wide
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}
