{# Projectroles dependency #}
{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}

{% block title %}
  Site-wide Container Template - {{ object.title }}
{% endblock title %}

{% block projectroles %}

<div class="row sodar-subtitle-container">
  <h3>Container Template <small class="text-muted">{{ object.title }}</small></h3>
  <div class="ml-auto">
    <a role="button" class="btn btn-secondary"
      href="{% url "containertemplates:site-list" %}">
      <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Container Template List
    </a>
  </div>
</div>

<div class="container-fluid sodar-page-container">
  <div class="card">
    <div class="card-header"><h4>Details</h4></div>
    <div class="card-body">
      <p class="card-text">
        <dl class="row">
          <dt class="col-sm-3">SODAR UUID</dt>
          <dd class="col-sm-9">{{ object.sodar_uuid }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Created</dt>
          <dd class="col-sm-9">{{ object.get_date_created }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Date Modified</dt>
          <dd class="col-sm-9">{{ object.get_date_modified }}</dd>
        </dl>
        <dl class="row">
          <dt class="col-sm-3">Repository:Tag</dt>
          <dd class="col-sm-9">{{ object.get_repos_full }}</dd>
        </dl>
        {% if object.container_port %}
        <dl class="row">
          <dt class="col-sm-3">Container Port</dt>
          <dd class="col-sm-9">{{ object.container_port }}</dd>
        </dl>
        {% endif %}
        {% if object.container_path %}
        <dl class="row">
          <dt class="col-sm-3">Container Path</dt>
          <dd class="col-sm-9">{{ object.container_path }}</dd>
        </dl>
        {% endif %}
      </p>
    </div>
  </div>
</div>

{% endblock projectroles %}
